body {
  margin: 0;
}
 

:root {
  --grf-indigo: #6610f2;
  --grf-blue: #0d6efd;
  --grf-purple: #6f42c1;
  --grf-teal: #20c997;
  --grf-cyan: #0dcaf0;
  --grf-white: #ffffff;
  --grf-red: rgb(247, 70, 70);
  --grf-red-dark: rgb(255, 19, 19);
  --grf-black: #272727;
  --grf-gray: #6c757d;
  --grf-gray-dark: #2c3238;
  --grf-gray-100: #f8f9fa;
  --grf-gray-200: #e9ecef;
  --grf-gray-300: #dee2e6;
  --grf-gray-400: #ced4da;
  --grf-gray-500: #adb5bd;
  --grf-gray-600: #6c757d;
  --grf-gray-700: #495057;
  --grf-gray-800: #343a40;
  --grf-gray-900: #202327;
  --grf-bg-page: #242930;
  --grf-bg-layout: #071426;
}